a {
  color: black;
}

article {
  background-color: #ccc;
  padding: 1em;
}

article h1 {
  font-size: 1.5em;
}

body {
  background-color: black;
}

nav ul {
  list-style: none;
}

nav ul li {
  font-family: 'Permanent Marker', serif;
  color: white;
  font-size: 1.5em;
}

nav ul li.selected {
  text-decoration: underline;
  color: white;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.bio {
  padding: 1em;
}

.bio-img {
  float: left;
  margin: 1em;
  max-width: 35%;
}

.book-title {
  text-decoration: underline;
}

.clear {
  clear: both;
}

.container {
  display: flex;
  flex-flow: column;
}

.content {
  padding: 1em;
  flex-basis: 90%;
}

.identity {
  font-family: 'Permanent Marker', serif;
  color: white;
  font-size: 3em;
  text-decoration: none;
}

.main {
  display: flex;
  flex-flow: row;
}

.presentation img{
  float: left;
  margin: 1em;
  max-width: 35%;
}

.sidebar {
  padding: 1em;
  flex-basis: 10%;
}
