body{
  background-color: black;
}

nav ul {
  list-style: none;
}

nav ul li{
  font-family: 'Permanent Marker', serif;
  color: white;
  font-size: 1.5em;
}

li.selected{
  text-decoration: underline;
  color: white;
}

.container{
  display: flex;
  flex-flow: column;
}

.identity{
  font-family: 'Permanent Marker', serif;
  color: white;
  font-size: 3em;
}
