/**************************
  Box-sizing
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
***************************/
html {
  box-sizing: border-box;
  background-color: var(--theme-background-color);
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/**************************
  Page layout
***************************/
body{
  display: grid;
  grid-template-areas:
    "nameplate"
    "main"
    "sidebar";
}

main{
  grid-area: main;
  padding: 1em;
  display: grid;
  grid-template-columns: 95vw;
}

#nameplate{
  grid-area: nameplate;
}

#sidebar{
  grid-area: sidebar;
}

@media(min-width: 800px){
  body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "nameplate nameplate nameplate"
      "main      main      sidebar";
  }

  main{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  }

  /* have article span two columns */
  .wide{
    grid-column-end: span 2;
  }
}


/**************************
  Article layout
***************************/
article{
  display: flex;
  flex-direction: column;
}

.contain{
  max-width: 100%;
  object-fit: contain;
}
