/**************************
  Theme
***************************/
:root{
  --theme-background-color: white;
  --theme-foreground-color: black;
  --theme-highlight-color: yellow;
  --theme-accent-color: red;
  --theme-link-hover-color: red;
  --theme-font-size: 1em;
  --theme-font-family-heading: "Lucida Sans", sans-serif;
  --theme-font-family-body: "Lucida Sans", sans-serif;
}
